<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>About Page</title>
  </head>
  <body>
    <div id="content">
      <h1>Welcome to about page </h1>
      <p> SCM is a web based application to manage contacts.
        Its used on broader area like big mnc's companies.
      </p>
    </div>
    <script>
      console.log("about page");
    </script>
    <script>
      console.log("second about page script");
    </script>
  </body>
</html>
