<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
  <head>
  
    <title>
      Services
    </title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to services page</h1>
      <h2>Services offered by SCM</h2>
      <p>User Signup with email and password: - User can sign up with email id and password to login to the site.
        ii.	Verify account using email verification link: - A verification email is sent which contain a OTP for verification on your registered email id for the security purpose. 
        iii.	User signup with google and GitHub: - User also have option to login through GitHub and google Gmail id.
        iv.	Add the contact with picture: -User can add pictures of their contacts.
        v.	Contact picture is uploaded to cloud [AWS, Cloud nary]: - Cloud will store the pictures.
        vi.	User can view all contacts. Can view the contact detail: - User can view the contacts and their details after saving.
        i.	Compose and send the email directly from SCM: - Amazing facility that user can directly send the emails through smart contact manager site to their contacts. Means no need to go to Gmail to send separate mails.
ii.	Email contain text + attachment: - User can send emails with attachment of documents and other media also.
iii.	Update the contact: - Ones the contact gets saved a user can update the existing contact and update the details also.
iv.	Delete the contact: - If user wants to delete the contact he/she can delete the contact also.
v.	Search the contact: - User can search the contacts from the existing contacts as there is no need to scroll the whole contacts. It is more beneficial when the number of contacts are more.
vi.	Pagination: - Means dividing the contacts in page form due to number of contacts.
vii.	Export the contact data to excel: - User can export the contacts into excel file. Suppose we need a data sheet of employees with their details so user can directly export these contacts into excel sheets.
viii.	Mark Favourite Contact: - User can also mark their favourite and frequently used contacts as favourite.
ix.	See and edit own details [Profile details]: - User can also update and see his/her details also as if he/she wants to update their profiles.
x.	Dark and Light theme: - User have choice to choose theme according to their need and interest they can use black and white or we can say light and dark theme. 
xi.	Provide Feedback: - User can give or provide feedback to the site about their experience with the website and leave an issue or query or change if they want too and need too.
</p>
    </section>

  </body>
</html>
